.html {
  scroll-behavior: smooth;
}
.body {
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

.headerimage {
  /* background-image: url("../img/man-in-gray-suit-3526923.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;*/
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: none !important;
}
.flex-container1 {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.links a img {
  padding: 4px;
}

.links a img:hover {
  box-shadow: 3px 3px 10px rgb(179, 179, 179);
  border-radius: 20px;
}

/* Responsive Design */

/*  Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
  .navigation {
    display: block;
  }
}

/*  Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .navigation {
    display: block;
  }
}

@media (min-width: 991.97px) {
  .navigation {
    display: none;
  }
}
/*  Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .navigation {
    display: block;
  }
  .headerimage {
    display: block;
    width: 100vw;
  }
}

/*  Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .navigation {
    display: block;
  }
  .headerimage {
    display: block;
  }
}
