@media (min-width: 768px){
    html{
        scroll-behavior: smooth;
    }
    .bdy{
        /* overflow: hidden; */
        margin-top: 0;
        padding-top: 0;
        background: url("../img/bg (3).jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .navbar-brand{
        display: none;
    }
    .navbar{
        /* background-color: rgba(0, 174, 255, 0.15); */
        margin: 0px 50px;
    }
    a {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    a:hover{
        background: rgb(0, 77, 77);
        border-radius: 20px;
        color: white;
        
    }
    .title{
        font-size: 50px;
        font-weight: bolder;
        text-align:center;
        padding-top: 20%;
        color: white;
        text-shadow: 2px 2px coral;
    }
    .title:hover
    {
        text-shadow: 2px 2px rgb(0, 204, 255);
    }

    .description{
        text-align: center;
        color: white;
    }

    .title-btn{
        display: none;
    }

    .col-md-3 strong {
        text-decoration: underline;
        text-decoration-color: coral;
        text-decoration-style: solid;
    }
    .content-mobile{
        display: none;
    }
}

@media (max-width: 767px){
    body{
        margin-top: 0px;
        background: url("../img/bg (3).jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .navbar{
        background-color: rgba(37, 37, 37, 0.522);
    }
    a {
        color: rgb(255, 255, 255);
    }
    a:hover{
        border-radius: 20px;
        color: white;
    }
    .navbar-brand{
        font-weight: bold;
        font-family: 'Cinzel', serif;
    }
    .nav-link{
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .title{
        font-size: 50px;
        font-weight: bolder;
        text-align:center;
        padding-top: 40%;
        color: white;
        text-shadow: 2px 2px black;
    }
    .title:hover
    {
        color: coral;
    }
    .description{
        text-align: center;
        color: white;
    }
    .title-btn{
        margin-top: 10%;
        width: 40%;
        margin-left: 30%;
        /* border-radius: 20px; */
        box-shadow: 2px 2px 5px black;
        font-weight: bold;
        background-color: coral;
        color: white;
    }

    .content-desktop{
        display: none;
    }
}